#boy {
    float: right;
    display: block;
    margin-left: 10px;
}

.enroll_form {
	border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px 40px;
    margin-top: 30px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

label {
	font-size: 15px;
}

/* ACCORDION STYLES */

#accordion {
    margin-top: 70px;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none !important;
    outline: none !important;
    border-bottom: 1px solid black;
}
#accordion .card {
    background-color: #eee;
    border: none;
}

#accordion .card-header {
    background-color: #eee;
    border-bottom-width: 1px;
    padding: 0;
    margin: 0;
}

#accordion .btn-link {
    color: black;
    font-family: "Open Sans", serif; 
    font-weight: lighter;
    font-size: 16px
} 

#accordion .block {
    display: block;
    width: 100%;
    border: none;
    background-color: #eee;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
}

#accordion button.active, #accordion button:hover {
    background-color: #ccc; 
}

#accordion .card-body {
    padding: 6px 18px;
    background-color: white;
    overflow: hidden;
    font-size: 15px;
}