#boy {
    float: right;
    display: block;
    margin-left: 10px;
}
/* ACCORDION STYLES */

#accordion {
    margin-top: 70px;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none !important;
    outline: none !important;
    border-bottom: 1px solid black;
}
#accordion .card {
    background-color: #eee;
    border: none;
}

#accordion .card-header {
    background-color: #eee;
    border-bottom-width: 1px;
    padding: 0;
    margin: 0;
}

#accordion .btn-link {
    color: black;
    font-family: "Open Sans", serif; 
    font-weight: lighter;
    font-size: 16px
} 

#accordion .block {
    display: block;
    width: 100%;
    border: none;
    background-color: #eee;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
}

#accordion button.active, #accordion button:hover {
    background-color: #ccc; 
}

#accordion .card-body {
    padding: 6px 18px;
    background-color: white;
    overflow: hidden;
    font-size: 15px;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.accordion .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* FORM STYLES */

.enroll_form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
	border-radius: 5px;
    background-color: #f2f2f2;
    padding: 5px 30px;
    margin-top: 30px;
}

input[type=text], input[type=tel], input[type=date], select {
    width: 100%;
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type=submit] {
    width: 100%;
    background-color: transparent;
    color: #1f7191;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #1f7191;
    border-radius: 25px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

label {
	font-size: 15px;
    font-weight: bolder;
}

.form-group {
    margin-bottom: 10px !important;
}
