/* PC Menu */

/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: black;
    padding: 8px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    font-size: 12px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
    text-decoration: none;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: transparent;
}

.menu_dropdown, .menu_link {
	color:black !important;
	font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bolder;
}

.menu_link:hover, .dropbtn:hover {
    color: #f2582b !important;
}

.dropbtn {
    margin-top: -2px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bolder;
}

button.dropbtn.menu_dropdown:focus {
    outline: none;
}

.navbar {
    padding: 0px !important;
    background-color: #c3b49c;
}

.nav-item:not(:first-child) {
    margin-left: 14px;
}

.header_container {
    height: 400px;
    background-size: contain;
    background-color: #f7f5f7;
    background-image: url('/images/children/koi.jpg');
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1650px) {
    .header_container{
        background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 100%), url('/images/children/koi.jpg');
    }
}

/* MOBILE MENU */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: inline-block;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 175px;
    font-size: 36px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (min-width: 1091px) {
    .mobile_menu {
        display: none;
    }
}

@media screen and (max-width: 1091px) {
    .pc_menu {
        display: none;
    }
}

#sign_in {
    height: 30px;
    width: 30px;
    display: inline-block;
    position: relative;
    top: 10px;
}

#en_ru {
    height: 30px;
    width: 30px;
    display: inline-block;
    position: relative;
    top: 10px;
}

.navbar_top {
    padding: 0;
    background-color: white; 
}

.navbar-nav {
    padding: 8px;
}

.header_title {
    padding-top: 130px;
}