h1 {
	color:red;
}

#entry {
	position: relative;
	top:-15px;
}

#entry:after {
	content: "";
	background-image: url('../images/entry.png');
	background-size: cover;
	width: 20px;
	height: 20px;
	display: inline-block;
	position: relative;
	bottom:-5px;
}