.teacher_info img {
    border-radius: 50%;
    width: 70%;
}

img {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

img:hover {
  opacity: 0.7;
}

.teacher_info {
    margin-bottom: 20px;
}

.teacher_info .h3 {
    margin-top: 8px;
}

.teacher_info .title {
    font-size: 15px;
    margin-bottom: -16px;
}

.mentor_info {
    margin-bottom: 40px;
}

.mentor_info img {
    margin-bottom: -15px;
}

/* Sidebar */

.sidebar {
    padding-top: 40px;
    position: fixed;
    z-index: 10;    
}

.sidebar ul li {
    border-bottom: 1px solid #E6DDD4;
    padding: 8px 0;
}

.sidebar a {
    color: #191970 !important;
}

li {
    list-style-type: none;
}