#boy {
    float: right;
    display: block;
    margin-left: 10px;
}

/* FORM STYLES */

.enroll_form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
	border-radius: 5px;
    background-color: #f7f5f7;
    padding: 5px 30px;
    margin-top: 30px;
}

input[type=text], input[type=tel], input[type=date], select {
    width: 100%;
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
}

button[type=submit] {
    font-size: 16px;
    width: 40%;
    background-color: transparent;
    color: #1f7191;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #1f7191;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 5px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.form-group {
    margin-bottom: 10px !important;
}

