/* FORM STYLES */

.form {
    padding-left: 100px;
    margin-top: 30px;
}

input[type=text], input[type=tel], input[type=date], select {
    width: 100%;
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
}

.form-group {
    margin-bottom: 10px !important;
}

/* NEW FORM */

.form label {
    display: block;
    padding: 25px 5px 5px 2px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.form input,
.form textarea,
.form select {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    line-height: 1.5;
    font-size: 16px;
    padding: 5px 10px;
    color: #10689a;
    display: block;
    width: 100%;
    background: transparent;
}

.form input,
.form textarea {
    border: 3px solid LightBlue;
}

.form textarea {
    min-height: 150px;
}

.form input:focus,
.form textarea:focus,
.form label:active + input,
.form label:active + textarea {
    outline: none;
    border: 3px solid #10689a;
}

.form select:focus {
    outline: none;
}

.form_submit_wrap {
    text-align: center;
    padding-top: 40px;
    clear: both;
}

.form input.form_submit {
    background: #10689a;
    border: none;
    color: #fff;
    width: auto;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 30px;
    font-size: 15px;
    border-radius: 2px;
    letter-spacing: 1px;
}

.form input.form_submit:hover {
    background: #1478b1;
}
