/* FORM STYLES */

form {
    padding-left: 100px;
    margin-top: 30px;
}

input[type=text], input[type=tel], input[type=date], select {
    width: 100%;
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
}

.form-group {
    margin-bottom: 10px !important;
}

/* NEW FORM */

.cbp-mc-form label {
    display: block;
    padding: 25px 5px 5px 2px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.cbp-mc-form input,
.cbp-mc-form textarea,
.cbp-mc-form select {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    line-height: 1.5;
    font-size: 16px;
    padding: 5px 10px;
    color: #10689a;
    display: block;
    width: 100%;
    background: transparent;
}

.cbp-mc-form input,
.cbp-mc-form textarea {
    border: 3px solid LightBlue;
}

.cbp-mc-form textarea {
    min-height: 200px;
}

.cbp-mc-form input:focus,
.cbp-mc-form textarea:focus,
.cbp-mc-form label:active + input,
.cbp-mc-form label:active + textarea {
    outline: none;
    border: 3px solid #10689a;
}

.cbp-mc-form select:focus {
    outline: none;
}

.cbp-mc-submit-wrap {
    text-align: center;
    padding-top: 40px;
    clear: both;
}

.cbp-mc-form input.cbp-mc-submit {
    background: #10689a;
    border: none;
    color: #fff;
    width: auto;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 2px;
    letter-spacing: 1px;
}

.cbp-mc-form input.cbp-mc-submit:hover {
    background: #1478b1;
}

@media screen and (max-width: 70em) {
    .cbp-mc-column {
        width: 50%;
    }
    .cbp-mc-column:nth-child(3) {
        width: 100%;
    }
}

@media screen and (max-width: 48em) {
    .cbp-mc-column {
        width: 100%;
        padding: 10px;
    }
}
