.gallery {
  margin-top: 40px;
}

.gallery a {
  display: block;
  max-height: 220px;
  overflow: hidden;
  text-align: center;
  padding: 0;
  padding-bottom: 20px;
  border-radius: 3px;
  transition: all 0.6s ease;
  position: relative;
  width: 100%;
  max-width: 500px;
}

.gallery img {
  max-width: 100%;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity: 1;
  color: white;
  font-size: 14px;
  padding: 20px;
  text-align: center;
}