.main_header {
    background-image: url('../images/main/aikido-bokken.jpg');
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
}
.about p:last-child {
    padding-bottom: 100px;
}

.about {
    color: white;
    margin-top: 250px;
}

#kids {
    float: right;
    display: block;
    margin-left: 10px;
    padding: 20px;
    width: 400px;
    height: auto;
}

#kotegaeshi {
    float: left;
    display: block;
    padding-right: 20px;
    padding-bottom: 15px;
}