.main_header {
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 40px;
}

.quote {
    height: 200px;
    position: relative;
    top: 400px;
}

.carousel-item {
    height: 700px;
}

.first_container {
    top: -40px;
}

#adults, #kids {
    height: 330px;
}

.my_section_button {
    border-radius: 10px !important;
    font-size: 14px !important;
    text-transform: uppercase !important;
    padding: 15px 20px !important;
    margin-top: 15px;
    color: #328cc1 !important;
    position: relative;
    left: 135px;
}

.my_section_button:hover {
    color: white !important;
    cursor: pointer;
}

.my_section_button:active {
    background-color: #2d7dad;
    border-color: #286f98;
}

#about_btn {
    left: 700px;
}

.news_image {
    height: 150px;
    width: 320px;
    background-size: cover;
    margin-bottom: 30px;
}
.news_1 {
    background-image: url("../../res/images/main/1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.news_2 {
    background-image: url("../../res/images/main/2.jpg");
    background-position: 0px -20px;
}

.news_3 {
    background-image: url("../../res/images/main/3.jpg");
    background-position: 0px -20px;
}

.item_marker li {
    list-style-type: disc;
}