* {font-family: Tahoma, Verdana, sans-serif;}


#error404Block
{
	padding: 0 0 100px 200px;
}

#error404Block h1
{
	font-size:150%;
	color:#333;
	margin:0;
}

#error404Block p
{
	margin: 0.4em 0 2.5em 0;
}

#error404Block a
{
	font-size:75%;
}



/* general */
p{font-size:75%; color:#333; line-height:1.5em; margin-top:0.5em;}
h3{font-size:110%; font-weight:normal; color:#333; margin: 0.5em 0 0.8em 0;}

ul{margin-top: 0.5em; padding-left:0; margin-left:0; font-size:75%; color:#333; line-height:1.4em;}
ol{margin-top: 0.5em; padding-left:0; margin-left:1em; font-size:75%; color:#333; line-height:1.4em;}
ol li{list-style-type:decimal;margin: 0.4em 0 0.4em 1em; }
ul li{list-style-type:none; margin: 0.4em 0 0.4em 1em; background: url('/i/list.gif') no-repeat left 0.8em; padding-left:16px;}


img.borderImg{border: 1px solid #999;}

.imgBlock{float:left; border: 1px solid #ccc; background-color:#fff;}
.imgBlock img{margin: 4px; border:0;}

.highlight td{background-color:#f4f2de;}

.contentBlock{padding: 0.2em 40px 0 10px;}


/* paragraph */
div.pContent{clear:both; padding-bottom:0.3em;}
div.pContent p{line-height:1.6em;}

div.imgTop{padding: 0.8em 0 0.5em 0;}
div.imgLeft{float:left; padding: 0.5em 1em 0.8em 0;}
div.imgRight{float:right; padding: 0.5em 0 0.8em 1em;}
div.imgBottom{padding: 0.4em 0 0.8em 0;}

p.caption{font-size:70%; color:#666; font-style:italic; margin: 0.5em 0;}

table.pTable{clear:both; width:100%; border-collapse:collapse; margin: 0.5em 0 1.2em 0;}
table.pTable td{font-size:75%; color:#333; padding: 0.5em 10px; border-bottom: 1px solid #dedede;}
table.pTable td p{font-size:100%; margin:0; line-height:normal;}

table.normal{clear:both; width:100%; border-collapse:collapse; margin-bottom:1.2em; border: 1px solid #dedede;}
table.normal td{font-size:75%; color:#333; padding: 0.5em 10px; border: 1px solid #dedede;}
table.normal td p{font-size:100%; margin:0; line-height:normal;}

div#paragraphFile{padding: 0.5em 10px 0.5em 28px; height:26px;}
div#paragraphFile a{font-size:80%;}
div#paragraphFile small{font-size:70%; color:#999;}

div.attach{background: url('/i/icons/default.gif') no-repeat left center;}
div.pdf{background: url('/i/icons/pdf.gif') no-repeat left center;}
div.word{background: url('/i/icons/word.gif') no-repeat left center;}
div.excel{background: url('/i/icons/excel.gif') no-repeat left center;}
div.zip{background: url('/i/icons/zip.gif') no-repeat left center;}

h3.pHeader{font-size:85%;}
h3.pHeader a{border-bottom: 1px dashed #5682bc; text-decoration:none;}
h3.pHeader a:hover{border-bottom: 1px dashed #f28b05; text-decoration:none;}
h3.pHeader a.cur{border-bottom: 1px dashed #f28b05; color:#f28b05; text-decoration:none;}

table.pNone{display:none;}
table.pVisible{display:block;}


/* links */
a{text-decoration:underline; color:#5682bc;}
a:hover{text-decoration:underline; color:#00236a;}


/* path */
div.path {color:#333;}
div.path a{font-size:75%;}
div.path small{font-size: 85%; color:#333;}
div.path h1{font-size:140%; margin-top:0.3em;}
#goodBlock div.path h1{margin-bottom:0;}


/* header */
tr.top .headerMenuList, tr.indent_top .headerMenuList{padding: 0.8em 40px 0 10px;}
tr.inline .headerMenuList{padding: 4em 40px 4em 10px;}
tr.indent_bottom .headerMenuList{padding:0 40px 3em 10px;}

tr.top .headerLogo, tr.indent_top .headerLogo, tr.top .headerPhone, tr.indent_top .headerPhone{padding:3em 40px 3.5em 10px;}
tr.inline .headerPhone{padding:4em 40px 4em 10px;}
tr.inline .headerLogo{padding:4em 40px 4em 0; margin-left:-10px;}
tr.indent_bottom .headerLogo, tr.indent_bottom .headerPhone{padding: 3em 40px 2.5em 10px;}


.headerMenuList ul{margin: 0 0 0 -10px; padding:0; font-size:75%; color:#333; clear:both;}
.headerMenuList ul li{float:left; list-style-type:none; background:none; color:#333; line-height:1.2em; margin: 0 20px 0 0; padding: 0.4em 10px;}
.headerMenuList ul li.cur{background-color:#00236a; color:#fff;}

.headerPhone small{color:#333; font-size:70%;}
.headerPhone strong{color:#333; font-size:120%;}
.headerPhone a{display:block; font-size:70%; padding-top:0.1em;}


/* menu */
.twoMenuList{margin: 0 0 1em 0; padding: 0 20px 0 0px; font-size:100%; color:#333;}
.twoMenuList strong{display:block; font-size:75%; padding: 0.5em 10px 0.5em 10px; line-height:1.3em;}
.twoMenuList li{list-style-type:none; background:none; color:#333; font-size:70%; line-height:1.2em; margin: 0 0 0.4em 10px; padding: 0.3em 10px 0.3em 10px;}
.twoMenuList li.cur
{
	background-color:#00236a;
	color:#fff;
}

.oneMenuList{margin: 0 0 2em 0; padding: 0 20px 0 0; font-size:100%; color:#333;}
.oneMenuList li{list-style-type:none; background:none; color:#333; font-size:75%; line-height:1.2em; margin: 0 0 0.4em 10px; padding: 0.4em 10px 0.4em 10px;}


/* home */
.homeCenterBlock{padding-right: 40px;}
.homeCenterBlock .homeParagraph{padding: 2em 10px 0 10px;}
.homeblockParagraph{padding: 2em 40px 0 10px;}
.homeblockAnons{padding: 3em 40px 0 10px;}

.fullHomeCatBlock{padding: 1em 40px 2em 2px;}
.fullHomeCatBlock h4{font-size:85%; font-weight:normal; margin: 0.7em 0 0.3em 8px; color:#333;}
.fullHomeCatBlock ul{margin: 0; padding:0; font-size:100%; color:#333;}
.fullHomeCatBlock ul li{list-style-type:none; background:none; color:#333; font-size:70%; line-height:1.2em; margin: 0 0 0 8px; padding: 0.3em 0;}

.homeCatBlock{padding: 1em 40px 2em 2px;}
.homeCatBlock h4{font-size:85%; font-weight:normal; margin: 0.7em 0 0.3em 8px; color:#333;}
.homeCatBlock p{font-size:70%; line-height: 1.3em; color:#666; margin: 0 0 0 8px;}
.homeCatBlock p p{font-size:100%; line-height:normal;}

.homeAnonsTable td{padding: 0 0 0.6em;}
.homeAnonsTable td.text{padding-bottom: 2em;}
.homeAnonsTable h4{font-size:90%; font-weight:normal; margin: 0 0 0.3em 0;}
.homeAnonsTable p{font-size:70%; color:#333; margin:0; line-height:1.4em;}
.homeAnonsTable p p{font-size:100%; line-height:normal;}

.homeGoodTable td{padding: 1.3em 40px 4em 0; font-size:75%;}
.homeGoodTable .descrBlock{clear:both; padding: 0.8em 0 0 0;}
.homeGoodTable .descrBlock h4{font-weight:normal; margin: 0 0 0.3em 0;}
.homeGoodTable .descrBlock div{line-height:1.3em;}
.homeGoodTable .descrBlock p{font-size:90%; line-height:1.3em; margin: 0 0 0.7em 0; color:#999;}


/* footer */
#footerBg{padding-top:1.5em;}
#footerContacts{padding: 2em 40px 2em 10px;}
#footerContacts small{font-size:70%; color:#666;}
#footerContacts small.none{color:#fff; visibility: hidden;}
#footerContacts strong{font-size:80%; color:#666;}
#footerContacts p{font-size:70%; color:#666; line-height:1.3em; margin: 0.6em 0 2em 0;}
#footerTl{padding: 2em 40px 2em 5px;}
a.tlLink{display:block; padding-top:0.6em; font-size:70%; color:#5682bc;}


/* catalogue */
.catalogueBlock{padding-bottom:3em;}

.goodListTable {border-collapse: collapse;}
.goodListTable td{padding: 0.5em 10px 0.6em 10px; font-size:75%; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;}
.goodListTable td strong{font-size:120%; font-weight:normal;}
.goodListTable td small{font-size:90%;}
.goodListTable td.price{white-space: nowrap;}
.goodListTable tr.variant td{font-size:70%; padding: 0 10px 0.6em 25px; border:0;}
.goodListTable tr.variant td.price{padding-left:10px;}
.goodListTable td p{font-size:90%; line-height:1.3em; margin: 0 0 0.7em 0; color:#999;}

.goodBlockTable td{padding: 2em 0; font-size:75%;}
.goodBlockTable td.img{clear:both;}
.goodBlockTable td.descr{padding: 2em 40px 2em 25px;}
.goodBlockTable td.descr h4{font-weight:normal; margin: 0 0 0.3em 0;}
.goodBlockTable td.descr div{line-height:1.3em;}
.goodBlockTable td.descr p{font-size:90%; line-height:1.3em; margin: 0 0 0.7em 0; color:#999;}


/* goodpage */
.goodOnePrice{padding: 0.2em 0 2em 0; font-size:80%;}
.goodVarPrice{padding: 0.8em 0 2em 0; font-size:75%; line-height:1.8em;}

.rightGoodOnePrice{background-color:#efefef; margin: 0.8em 40px 0 0; padding: 15px; line-height:1.3em;}
.rightGoodOnePrice small{font-size:70%;}
.rightGoodVarPrice{background-color:#efefef; font-size:80%; margin: 0.8em 40px 0 0; padding: 15px; line-height:1.5em;}

.goodCharacteristics{border-collapse: collapse; border-bottom: 1px solid #ccc;}
.goodCharacteristics td{padding: 0.5em 10px 0.6em 10px; font-size:75%; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;}
.goodCharacteristics th{padding: 0.5em 10px 0.6em 10px; font-size:80%; border-top: 1px solid #ccc; border-bottom: 0;}
.goodCharacteristics tr.inside td{border:0; font-size:70%; padding-top:0;}

/* form
-----------------------------------*/
table.form{width:100%;}
table.form td{font-size:75%; color:#333; padding: 0.3em 20px 0.3em 0;}
table.form td.leftCol{width:180px; padding-top:0.6em;}
/**/



/*

#LoginPanel
{
	position:fixed;
	//position: absolute;
	top: expression(
	    document.getElementsByTagName("body")[0].scrollTop + "px"
	);
	background: url('../i/bg/black8.png') repeat left top;
	width:100%;
	height:100%;
	z-index:100;
	behavior:url('/png.htc');
}

.LoginPanelBlock
{
	position: absolute;
	width:360px;
	height: 240px;
	left: 40%;
	top: 20%;
}

.LoginPanelBlock .content
{
	position:absolute;
	z-index: 105;
	padding: 20px;
}

.LoginPanelBlock .horizontalBg
{
	position: absolute;
	z-index: 101;
	background-color:#fff;
	width:100%;
	height: 200px;
	margin-top: 20px;
}

.LoginPanelBlock .verticalBg
{
	position: absolute;
	z-index: 101;
	background-color:#fff;
	width: 320px;
	height:100%;
	margin-left: 20px;
}

.LoginPanelBlock .lt,
.LoginPanelBlock .rt,
.LoginPanelBlock .rb,
.LoginPanelBlock .lb
{
	position: absolute;
	z-index: 101;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: left top;
	behavior:url('/png.htc');
}

.LoginPanelBlock .lt
{
	background-image: url('../i/bg/edge/white_lt.png');
	left:0;
	top:0;
}

.LoginPanelBlock .rt
{
	background-image: url('../i/bg/edge/white_rt.png');
	right:0;
	top:0;
}

.LoginPanelBlock .rb
{
	background-image: url('../i/bg/edge/white_rb.png');
	right:0;
	bottom:0;
}

.LoginPanelBlock .lb
{
	background-image: url('../i/bg/edge/white_lb.png');
	left:0;
	bottom:0;
}

#LoginPanel table
{
	width:auto;
}

#LoginPanel td
{
	color:#333;
	padding: 0.5em 1em 0 0;
}

#LoginPanel td input
{
	font-size:90%;
	color:#333;
}

#LoginPanel .loginLabel
{
	font-size: 90%;
	color:#333;
	padding-top: 0.8em;
}

#LoginPanel .loginRegLabel
{
	padding: 1.2em 0 0.5em 0;
	font-size:110%;
}

#LoginPanel .loginCheckbox
{
	font-size:90%;
}

#LoginPanel .loginEnter input
{
	font-size:110%;
}

#LoginPanel .loginEnter div
{
	padding-top:1em;
}

.loginpageErrorText
{
	font-size:80%;
	color:#333;
	background-color:#efefef;
	width:90%;
}

.loginpageErrorText .grey_lb
{
	padding: 0.6em 20px;
}

.loginpageLoginBlock
{
	padding: 0.8em 20px 0 20px;
}


.remindPasswordBlock
{
	background-color:#f7f6ed;
}

.remindPasswordBlock  .yellow_lb
{
	padding: 0.6em 20px 1em 20px;
}

.remindPasswordBlock p
{
	line-height:1.4em;
	margin-top: 0.2em;
}

.remindPasswordBlock span
{
	white-space:nowrap;
}

.remindPasswordBlock input
{
	font-size:90%;
}
*/

.disabled{
	opacity: 0.6;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	cursor: default !important;
}

input[type='button'],
input[type='submit']{
	cursor:pointer;
}

.hiddenF{
	position:absolute;
	left:-10000px;;
}

.hidden{
	display:none;
}
